<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About SplurtyOctober</h1>

  <p>
    SplurtyOctober was built by <a target="_blank" href="https://github.com/MarcMcArthur">Marc</a>, a Junior Ruby on Rails Web Developer from London. He's on a mission to get his first gig in the development world and develop his technical skill set.
  </p>
  <br />
  <p>
    He has recently completed the Firehose Project, an online Full-Stack Developer bootcamp with an emphasis on Ruby on Rails.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'london.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Marc McArthur</h2>
    <br />
    <p>
      Marc is a native Londoner with a varied and extensive professional background. He also lived abroad for several years and relishes working in an international setting.
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />